<div class="header">
    <div class="container">
        <h1>cryptography</h1>
        <div class="search">
            <input type="text" name="search">
        </div>
        <ul class="links">
            <li class="link"><i class="fa-solid fa-user"></i>Login</li>
            <li class="link">Register</li>
        </ul>
    </div>
</div>