<div class="header">
    <div class="container">
        <h1>crypto</h1>
        <div class="search">
            <input type="text" name="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="dropdown-links">
            <div class="dropdown-link">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <img src="/images/profile-pic.jpg" alt="profile-image">
                <ul class="profile-details">
                    <li class="profile-detail">Admin</li>
                    <li class="profile-detail">admin@gmail.com</li>
                </ul>
                <div class="dropdown-icons">
                    <i class="fa-solid fa-caret-down"></i>
                </div>
            </div>
            <ul class="links">
                <li class="link">
                    <a href="/" rel="noopener noreferrer">
                        <i class="fa-solid fa-lock"></i> Login
                    </a>
                </li>
                <li class="link">
                    <a href="register" rel="noopener noreferrer">
                        <i class="fa-solid fa-pen-to-square"></i> Register
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>